{% extends 'templates/home.html' %}

{% block custom_head %}
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
{% endblock custom_head %}

{% block first_temporary_сredits %}
<div class="container-fluid p-2 rounded bg-secondary-subtle">
    <div class="row d-flex justify-content-between">
        <div class="col-lg-1 d-flex justify-content-center align-items-center p-2">
            <i class="fas fa-solid fa-key fa-3x" style="color: #ffc107;"></i>
        </div>
        <div class="col-lg-7 align-self-center p-2">You may obtain temporary
            credentials to inspect the AWS infrastructure here.
        </div>
        <div class="col-lg-2 d-flex align-items-center justify-content-center ml-auto p-2">
            <button id="firstTempCreditsButton" class="btn btn-warning">Get
                Credentials
            </button>
        </div>
    </div>
</div>
{% endblock first_temporary_сredits %}

{% block custom_definition_notice %}
<div id="definitionNotice" class="mb-3">
    <h2>Resource Naming Approach</h2>
    <div id="definitionNoticeContent"
         class="container-fluid p-4 rounded"
         style="background-color: rgba(102, 217, 232, 0.3);">
        <h4 style="color: #218897;">Setup prefixes manually</h4>
        Please make sure that you set the prefixes given below for your
        resources.
        Following naming conventions is one of the best practices for real
        projects
        and necessary for correct AWS sandbox performance.</br>
        Your prefix: <span
            class="text-danger">{{ definition_prefix|safe }}</span></br>
        For example, if you are going to create a resource called "resource",
        name it: <span
            class="text-danger">{{ definition_prefix|safe }}resource</span>
    </div>
</div>
{% endblock %}

{% block custom_start_form %}
<div id="taskStartForm">
    <form>
        <button id="startTaskButton" type="submit"
                class="btn btn-outline-success">
            Start task
        </button>
    </form>
</div>
{% endblock custom_start_form %}

{% block second_temporary_сredits %}
<div id="secondTemporaryCredits" class="mt-3 mb-3 d-none">
    <div class="container-fluid p-2 rounded bg-secondary-subtle">
        <div class="row d-flex justify-content-between">
            <div class="col-lg-1 d-flex justify-content-center align-items-center p-2">
                <i class="fas fa-solid fa-key fa-3x"
                   style="color: #ffc107;"></i>
            </div>
            <div class="col-lg-7 align-self-center p-2">You may obtain temporary
                credentials to inspect the AWS infrastructure here.
            </div>
            <div class="col-lg-2 d-flex align-items-center justify-content-center ml-auto p-2">
                <button id="secondTempCreditsButton" class="btn btn-warning">Get
                    Credentials
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock second_temporary_сredits %}

{% block custom_validation_form %}
<div id="taskValidationForm" class="mb-3 d-none">
    <h2>Verify task</h2>
    <p class="text-muted">Access AWS account using the credentials provided in
        the link above and solve the given problem. Afterwards, use the buttons
        below to verify your solution. Keep in mind that verification may take
        several minutes to complete.
    </p>
    <div class="btn-group mb-3" role="group" aria-label="Verify or abort">
        <button id="verifyTaskButton" type="submit"
                class="btn btn-outline-success"
                disabled>
          <span class="spinner-border-sm{% if being_verified %} spinner-border{% endif %}"
                role="status"
                aria-hidden="true"></span>
            <span>{% if being_verified %}Verifying...{% else %}Verify{% endif %}</span>
        </button>
        <button id="abortTaskButton" type="submit"
                class="btn btn-outline-danger"
                disabled>
            <span class="spinner-border-sm" role="status"
                  aria-hidden="true"></span>
            <span>Abort</span>
        </button>
    </div>
</div>
{% endblock custom_validation_form %}

{% block custom_task_validations %}
<div id="taskValidations" class="mb-3 d-none">
      <h2 class="mb-3">Checks</h2>
      <div class="accordion" id="validationsAccordion">
        {% for item in validations %}
          {% set item_data = item.get_step_validations_data() %}
          {% set outer_loop_index = loop.index %}
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed {% if item.steps_passed_ratio >= 1 %}bg-success-subtle
                {% elif item.steps_passed_ratio >= 0.5 %}bg-warning-subtle
                {% else %}bg-danger-subtle{% endif %}"
                type="button" data-bs-toggle="collapse" data-bs-target="#validation-{{ loop.index }}"
                aria-expanded="false" aria-controls="validation-{{ loop.index }}">Validation {{ loop.index }}</button>
            </h2>
            <div id="validation-{{ loop.index }}" class="accordion-collapse collapse"
              aria-labelledby="heading-{{ loop.index }}" data-bs-parent="#validationsAccordion">
              <div class="accordion-body" style="white-space: normal;">
                <div class="accordion" id="step-accordion-{{ loop.index }}">
                  {% for step_key, step_data in item_data.items()|sort %}
                    {% set inner_loop_index = loop.index %}
                    {% set step_value = step_data[0] %}
                    {% set step_passed = step_data[1] %}
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="step-heading-{{ outer_loop_index }}-{{ inner_loop_index }}">
                        <button
                          class="accordion-button collapsed {% if step_passed %}bg-success-subtle{% else %}bg-danger-subtle{% endif %}" type="button" data-bs-toggle="collapse"
                          data-bs-target="#step-panel-{{ outer_loop_index }}-{{ inner_loop_index }}"
                          aria-expanded="false"
                          aria-controls="step-panel-{{ outer_loop_index }}-{{ inner_loop_index }}">{{ step_key }}</button>
                      </h2>
                      <div id="step-panel-{{ outer_loop_index }}-{{ inner_loop_index }}"
                        class="accordion-collapse collapse"
                        aria-labelledby="step-heading-{{ outer_loop_index }}-{{ inner_loop_index }}"
                        data-bs-parent="#step-accordion-{{ outer_loop_index }}">
                        <div class="accordion-body" style="white-space: pre-wrap;">{{ step_value|safe }}</div>
                      </div>
                    </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
{% endblock custom_task_validations %}

{% block custom_task_validation_failed %}
<div id="taskValidationsFailed" class="mb-3 d-none">
  <div class="alert alert-warning" role="alert">
    <div>
      <h4 class="alert-heading">Task verification failed!</h4>
      <p>
        During task verification, an error has occurred.
        Consequently, the task will be terminated, and its associated resources will be
        removed from the AWS account.</br>
        Please, try to run the task later. If this message recurs, please get in touch with our support team.
      </p>
    </div>
  </div>
</div>
{% endblock custom_task_validation_failed %}

{% block credits_modal %}
<!-- Bootstrap modal -->
<div class="modal fade" id="validationCreditsModal" tabindex="-1" role="dialog"
     aria-labelledby="credentialsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="credentialsModalLabel">SandBox
                    credentials</h5>
            </div>
            <div class="modal-body">
                <p>
                    Use any of the following credentials to access AWS resources
                    programmatically or from the AWS CLI. You can retrieve new
                    credentials as often as needed.
                </p>
                <hr>
                <div class="console-url">
                    <a id="validationManagementConsoleURL" href=""
                       class="btn btn-link p-0"
                       target="_blank" rel="noopener noreferrer">Management
                        console
                    </a>
                </div>
                <hr>
                <div class="tab-content" id="nav-validationCreditsModalContent">
                    <div class="tab-pane fade show active"
                         id="nav-generate-validation-credits"
                         role="tabpanel"
                         aria-labelledby="nav-config-syndicate-tab">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" data-bs-toggle="tab"
                                   href="#validationLinux">macOS and Linux</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab"
                                   href="#validationWindows">Windows</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab"
                                   href="#validationPowershell">PowerShell</a>
                            </li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="validationLinux">
                                <div class="position-relative">
                                    <pre class="chroma"
                                         id="validationLinuxCreds"
                                         data-toggle="tooltip"
                                         data-placement="top"
                                         title="Click to copy this command"
                                         style="white-space: nowrap;"></pre>
                                    <i class="fas fa-copy position-absolute top-0 end-0 p-2"
                                       onclick="copyToClipboard('validationLinuxCreds')"
                                       style="cursor: pointer;"></i>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="validationWindows">
                                <div class="position-relative">
                                    <pre class="chroma"
                                         id="validationWindowsCreds"
                                         data-toggle="tooltip"
                                         data-placement="top"
                                         title="Click to copy this command"
                                         style="white-space: nowrap;"></pre>
                                    <i class="fas fa-copy position-absolute top-0 end-0 p-2"
                                       onclick="copyToClipboard('validationWindowsCreds')"
                                       style="cursor: pointer;"></i>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="validationPowershell">
                                <div class="position-relative">
                                    <pre class="chroma"
                                         id="validationPowerShellCreds"
                                         data-toggle="tooltip"
                                         data-placement="top"
                                         title="Click to copy this command"
                                         style="white-space: nowrap;"></pre>
                                    <i class="fas fa-copy position-absolute top-0 end-0 p-2"
                                       onclick="copyToClipboard('validationPowerShellCreds')"
                                       style="cursor: pointer;"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div id="copyValidationAccessKeyId"
                     class="d-flex justify-content-between">
                    <label class="left-container p-2" style="flex-basis: 26%;"
                           for="validationAccessKeyId"><b>AWS Access Key ID:</b></label>
                    <input class="individual-entry p-2" style="flex-basis: 70%;"
                           disabled="" type="text" id="validationAccessKeyId">
                    <i class="fas fa-copy ml-auto p-2" data-toggle="tooltip"
                       data-placement="top"
                       title="Copy"
                       style="cursor: pointer;"
                       onclick="copyToClipboard('validationAccessKeyId')"></i>
                </div>
                <div id="copyValidationSecretAccessKey"
                     class="d-flex justify-content-between">
                    <label class="left-container p-2" style="flex-basis: 26%;"
                           for="validationSecretAccessKey"><b>AWS Secret Access
                        Key:</b></label>
                    <input class="individual-entry p-2" style="flex-basis: 70%;"
                           disabled="" type="text"
                           id="validationSecretAccessKey">
                    <i class="fas fa-copy ml-auto p-2" data-toggle="tooltip"
                       data-placement="top"
                       title="Copy"
                       style="cursor: pointer;"
                       onclick="copyToClipboard('validationSecretAccessKey')"></i>
                </div>
                <div id="copyValidationSessionToken"
                     class="d-flex justify-content-between">
                    <label class="left-container p-2" style="flex-basis: 26%;"
                           for="validationSessionToken"><b>AWS Session
                        Token:</b></label>
                    <input class="individual-entry p-2" style="flex-basis: 70%;"
                           disabled="" type="text" id="validationSessionToken">
                    <i class="fas fa-copy ml-auto p-2" data-toggle="tooltip"
                       data-placement="top"
                       title="Copy"
                       style="cursor: pointer;"
                       onclick="copyToClipboard('validationSessionToken')"></i>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="validationCreditsModalCloseButton"
                        class="btn btn-secondary" data-dismiss="modal">Close
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock credits_modal %}

{% block destroyment_loader %}
<div id="destroymentLoader" class="mb-3 d-none">
    <p class="lead text-muted">Please wait while the resources are <b>being
        removed</b> from the AWS account. This process may take several minutes.
        Kindly await confirmation that your resources have been successfully
        removed.</p>
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>
{% endblock destroyment_loader %}

{% block feedback %}
<div id="taskFeedback" class="mb-3 d-none">
    <h2 class="mb-2">Feedback</h2>
    <form>
        <fieldset {% if not enable_feedback %} disabled{% endif %}>
            <div class="mb-2">
                <div class="mb-3">You can complete the course after submitting
                    your
                    feedback. Review will be sent automatically after 5 minutes
                    (blank) if you do not submit manually.
                </div>
                <label for="feedbackScoreInput" class="form-label">Feedback
                    score</label>
                <select class="form-select" id="feedbackScoreInput">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option selected value="5">5</option>
                </select>
            </div>
            <div class="mb-2">
                <label for="feedbackCommentInput"
                       class="form-label">Comment:</label>
                <textarea class="form-control" rows="2"
                          id="feedbackCommentInput"></textarea>
            </div>
            <button id="submitFeedbackButton" type="submit"
                    class="btn btn-outline-success mb-3">Submit feedback and
                complete the task
            </button>
        </fieldset>
        <div id="bonusCalculationNotification" class="mb-3 d-none">
            <div class="spinner-border spinner-border-sm me-2"
                 role="status"></div>
            We are calculating task bonus points. May take up to 5 minutes. Please refrain from starting new tasks during this period.
        </div>
        <div id="feedbackThank" class="mb-3 d-none">Thank you for your feedback!
            Your task is marked as completed.
        </div>
    </form>
</div>
{% endblock feedback %}

{% block restart_task %}
<div id="restartTask" class="mb-3 d-none">
      <hr class="mt-4">
      <!-- Modal -->
      <div class="modal fade" id="restartTaskModal" tabindex="-1" aria-labelledby="restartTaskModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" style="position: absolute; bottom: 0; left: 0; right: 0; margin: auto;">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="restartTaskModalLabel">Restart Task Confirmation</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">You are about to restart your task. Please note:
            <ol>
              <li><b>Resource Reset:</b> Pay attention that task resource naming could be changed.</li>
              <li><b>New Attempt:</b> Click "Start Task" to begin anew.</li>
              <li><b>Score: </b> Your current score will be saved till the new task start and updated after start.</li>
            </ol>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
              <button id="restartTaskButton" type="button" class="btn btn-primary"
                data-bs-dismiss="modal">Submit</button>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center">
        <button id="showModalButton" class="mb-3 btn btn-warning w-25" data-bs-toggle="modal"
          data-bs-target="#restartTaskModal">Restart the task</button>
      </div>
</div>
{% endblock restart_task %}

{% block custom_script %}
<script>
    window.dynamicData = {
  "start_params": {
    "CLI_USAGE_CHECK": {
      "label": "CLI usage check (the duration of the verification will be extended by 5 minutes to allow for the updating of the CloudTrail logs):",
      "tag": "input",
      "attributes": {
        "class": "form-check-input",
        "type": "checkbox"
      },
      "checked": true
    },
    "AWS_REGION": {
      "label": "Target region:",
      "tag": "select",
      "attributes": {
        "class": "form-select",
        "area-required": "true",
        "style": "width: 20%;"
      },
      "allowed_values": [
        "eu-central-1",
        "us-east-1"
      ],
      "required": true
    },
    "AWS_ACCESS_KEY_ID": {
      "label": "Access key:",
      "tag": "input",
      "attributes": {
        "class": "form-control",
        "type": "text",
        "placeholder": "e.g. AKIA..."
      },
      "required": true
    }
  },
  "verify_params": {
    "CLI_USAGE_CHECK": {
      "label": "CLI usage check (the duration of the verification will be extended by 5 minutes to allow for the updating of the CloudTrail logs):",
      "tag": "input",
      "attributes": {
        "class": "form-check-input",
        "type": "checkbox"
      },
      "checked": true
    },
    "AWS_REGION": {
      "label": "Target region:",
      "tag": "select",
      "attributes": {
        "class": "form-select",
        "area-required": "true",
        "style": "width: 20%;"
      },
      "allowed_values": [
        "eu-central-1",
        "us-east-1"
      ],
      "required": true
    },
    "AWS_ACCESS_KEY_ID": {
      "label": "Access key:",
      "tag": "input",
      "attributes": {
        "class": "form-control",
        "type": "text",
        "placeholder": "e.g. AKIA..."
      },
      "required": true
    },
  }
};
</script>
<script src="../static/js/aws_no_credits_mocks.js"></script>
<script src="../static/js/helpers.js"></script>
<script src="../static/js/aws_no_credits.js"></script>
{% endblock custom_script %}