{% extends 'templates/home.html' %}

{% block custom_head %}
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
<link rel="stylesheet" href="../static/css/sre.css">
{% endblock custom_head %}

{% block first_temporary_сredits %}
<div class="accordion mt-3 mb-3" id="firstTemporaryCreditsAccordion">
    <div class="accordion-item">
        <h2 class="accordion-header" id="firstTemporaryCreditsHeading">
            <button class="accordion-button collapsed bg-secondary-subtle"
                    type="button" data-bs-toggle="collapse"
                    data-bs-target="#firstTemporaryCreditsCollapse"
                    aria-expanded="false"
                    aria-controls="firstTemporaryCreditsCollapse"
                    style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                <div class="row d-flex justify-content-between">
                    <div class="col-lg-2 d-flex justify-content-center align-items-center p-0">
                        <i class="fas fa-solid fa-key fa-3x"
                           style="color: #ffc107;"></i>
                    </div>
                    <div class="col-lg-10 align-self-center p-0">
                        You may obtain temporary credentials to access the AWS
                        infrastructure here.
                    </div>
                </div>
            </button>
        </h2>
        <div id="firstTemporaryCreditsCollapse"
             class="accordion-collapse collapse"
             aria-labelledby="firstTemporaryCreditsHeading"
             data-bs-parent="#firstTemporaryCreditsAccordion">
            <div class="accordion-body">
                <div class="row">
                    <div class="col-lg-8">
                        <strong>Sandbox Account</strong></br>
                        Use these credentials if you do not have your own AWS
                        account. This is sandbox account we provide for working
                        on your tasks, creating the related resources and
                        estimating the result by yourself. You may also use a
                        personal AWS account instead.
                    </div>
                    <div class="col-lg-4 text-end d-flex align-items-center justify-content-end">
                        <button id="firstExecutionTempCredits" class="btn btn-warning"
                                style="width: 70%;">Get sandbox credentials
                        </button>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-lg-8">
                        <strong>Verification Account</strong></br>
                        Use this account to review the resources that were
                        created during the task verification. </br>Region: <b>eu-central-1</b>
                    </div>
                    <div class="col-lg-4 text-end d-flex align-items-center justify-content-end">
                        <button id="firstTempCreditsButton" class="btn btn-warning"
                                style="width: 70%;">Get verification credentials
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock first_temporary_сredits %}

{% block custom_definition_notice %}
<div id="definitionNotice" class="mb-3">
    <h2>Task verification</h2>
    <div id="definitionNoticeContent"
         class="container-fluid p-4 rounded bg-primary-subtle">
        <h4 style="color: #004570;">Verification resource naming</h4>
        The goal of task verification is to make sure that the infrastructure
        created within the task meets the task requirements.</br>During the
        process, resources are created in the <b>Verification Account</b>, with the
        standardized suffix and prefix <b>added automatically</b> to their names.
        <ul>
            <li>Your prefix: <span
                    class="text-danger">{{ definition_prefix|safe }}</span></li>
            <li>Your suffix: <span
                    class="text-danger">{{ definition_suffix|safe }}</span></li>
            <li>Region: <span class="text-danger">eu-central-1</span>
                (Frankfurt)
            </li>
        </ul>
        For example, if you describe a resource called "resource", its full name will be:
        <span class="text-danger">{{ definition_prefix|safe }}resource{{ definition_suffix|safe }}</span></br>
        To find your resources easily, use the full name generated by the system.
    </div>
</div>
{% endblock %}

{% block custom_start_form %}
<div id="taskStartForm"></div>
{% endblock custom_start_form %}

{% block second_temporary_сredits %}
<div class="accordion mt-3 mb-3" id="secondTemporaryCredits">
    <div class="accordion-item">
        <h2 class="accordion-header" id="secondTemporaryCreditsHeading">
            <button class="accordion-button collapsed bg-secondary-subtle"
                    type="button" data-bs-toggle="collapse"
                    data-bs-target="#secondTemporaryCreditsCollapse"
                    aria-expanded="false"
                    aria-controls="secondTemporaryCreditsCollapse"
                    style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                <div class="row d-flex justify-content-between">
                    <div class="col-lg-2 d-flex justify-content-center align-items-center p-0">
                        <i class="fas fa-solid fa-key fa-3x"
                           style="color: #ffc107;"></i>
                    </div>
                    <div class="col-lg-10 align-self-center p-0">
                        You may obtain temporary credentials to access the AWS
                        infrastructure here.
                    </div>
                </div>
            </button>
        </h2>
        <div id="secondTemporaryCreditsCollapse"
             class="accordion-collapse collapse"
             aria-labelledby="secondTemporaryCreditsHeading"
             data-bs-parent="#secondTemporaryCredits">
            <div class="accordion-body">
                <div class="row">
                    <div class="col-lg-8">
                        <strong>Sandbox Account</strong></br>
                        Use these credentials if you do not have your own AWS
                        account. This is sandbox account we provide for working
                        on your tasks, creating the related resources and
                        estimating the result by yourself. You may also use a
                        personal AWS account instead.
                    </div>
                    <div class="col-lg-4 text-end d-flex align-items-center justify-content-end">
                        <button id="secondExecutionTempCredits" class="btn btn-warning"
                                style="width: 70%;">Get sandbox credentials
                        </button>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-lg-8">
                        <strong>Verification Account</strong></br>
                        Use this account to review the resources that were
                        created during the task verification. </br>Region: <b>eu-central-1</b>
                    </div>
                    <div class="col-lg-4 text-end d-flex align-items-center justify-content-end">
                        <button id="secondTempCreditsButton" class="btn btn-warning"
                                style="width: 70%;">Get verification credentials
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock second_temporary_сredits %}

{% block custom_validation_form %}
<div id="taskValidationForm" class="mb-3">
    <div class="form-group mb-2">
        <p>Now you can solve the given problem. After that use the
            buttons below to verify
            your solution. Verification can take several minutes.</br><strong>Note:</strong> by default, the Git repository's default
            branch will be used, and the <span class="text-danger">{{ task_folder_name|safe }}</span>
            folder will be selected for verification.
        </p>
        <label for="repositoryInput" class="form-label">Provide the path to
                the Git storage with your task materials:<br> • Specify your Git
                account:</label>
        <div class="input-group">
            <input type="password" class="form-control" id="repositoryInput"
                   placeholder="https://username:deploy_token@repository-url.git",
                   value="{{ repository|safe }}">
            <div class="input-group-append">
                <span class="input-group-text" id="passwordVisibility">
                    <i class="fas fa-eye" aria-hidden="true"
                       style="font-size: 2rem;"></i>
                </span>
            </div>
        </div>
        <small class="form-text text-muted">
            Input your Git account. For private repositories, use: <code>'http(s)://&lt;username&gt;:&lt;deploy_token&gt;@&lt;repository_url&gt;'</code>
            <br>
            For public repositories, use:<code>'http(s)://&lt;repository_url&gt;'</code>
        </small>
        <div id="dynamicVerifyParameters"></div>
    </div>
    <div>
        In order to proceed with a new verification or finish the current task,
        it's important to first destroy the resources from the previous task.
        To do this, please use the "Destroy Resources" button provided.
    </div>
    <div class="btn-group mb-3" role="group" aria-label="Verify or abort">
        <button id="startTaskButton" type="submit"
                class="btn btn-outline-success">
      <span class="spinner-border-sm{% if being_verified %} spinner-border{% endif %}"
            role="status"
            aria-hidden="true"></span>
            <span>{% if being_verified %}Verifying...{% else %}Verify{% endif %}</span>
        </button>
        <button id="verifyTaskButton" type="submit"
                class="btn btn-outline-success"
                style="display: none;">
      <span class="spinner-border-sm{% if being_verified %} spinner-border{% endif %}"
            role="status"
            aria-hidden="true"></span>
            <span>{% if being_verified %}Verifying...{% else %}Verify{% endif %}</span>
        </button>
        <button id="abortTaskButton" type="submit"
                class="btn btn-outline-danger"
                disabled>
            <span class="spinner-border-sm" role="status"
                  aria-hidden="true"></span>
            <span>Abort</span>
        </button>
        <button id="destroyResources" type="submit"
                class="btn btn-outline-primary"
                disabled>
            <span class="spinner-border-sm" role="status"
                  aria-hidden="true"></span>
            <span>Destroy resources</span>
        </button>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="wrongRepositoryModal" tabindex="-1"
     role="dialog" aria-labelledby="wrongRepositoryModal"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
         style="position: absolute; bottom: 0; left: 0; right: 0; margin: auto;">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="wrongRepositoryModalLabel">
                    Invalid repository</h1>
            </div>
            <div class="modal-body">
                The repository input is not set or in the wrong format.
                Please make sure it is in the format:</br>
                For private repositories:</br>
                <code>'http(s)://&lt;username&gt;:&lt;deploy_token&gt;@&lt;repository_url&gt;'</code>
                <br>
                For public repositories:</br>
                <code>'http(s)://&lt;repository_url&gt;'</code>
            </div>
            <div class="modal-footer">
                <button id="wrongRepositoryCloseButton" type="button"
                        class="btn btn-primary" data-bs-dismiss="modal">Close
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock custom_validation_form %}

{% block custom_task_validations %}
<div id="taskValidations" class="mb-3 d-none">
      <h2 class="mb-3">Checks</h2>
    <div id="AISummary" class="mb-1">
        <div class="form-check form-switch mb-1">
            <input class="form-check-input" type="checkbox"
                   id="AISummarySwitch">
            <div class="form-check-label" for="AISummarySwitch">Enable Eda
                recommendations
            </div>
        </div>
        <div id="AISummaryLoader" class="d-flex align-items-center mt-3 d-none">
            <div class="spinner-border spinner-border-sm ms-2 me-3 mb-2"
                 role="status"></div>
            <div class="lead me-2">Generating...</div>
        </div>
        <div id="AISummaryErrorAlertTemplate"
             class="alert alert-warning alert-dismissible d-none" role="alert">
            <div>Errors occurred during AI summary generation. Please retry
                later. If the issue persists, contact the support team.
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="alert"
                    aria-label="Close"></button>
        </div>
        <div id="AISummaryErrorAlertPlaceholder"></div>
        <div id="AISummaryErrorAlert" class="alert alert-warning alert-dismissible d-none" role="alert">`,
            <div>Errors occurred during AI summary generation. Please retry
                later. If the issue persists, contact the support team.
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="alert"
                    aria-label="Close"></button>
        </div>
    </div>
      <div class="accordion" id="validationsAccordion">
        {% for item in validations %}
          {% set item_data = item.get_step_validations_data() %}
          {% set outer_loop_index = loop.index %}
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed {% if item.steps_passed_ratio >= 1 %}bg-success-subtle
                {% elif item.steps_passed_ratio >= 0.5 %}bg-warning-subtle
                {% else %}bg-danger-subtle{% endif %}"
                type="button" data-bs-toggle="collapse" data-bs-target="#validation-{{ loop.index }}"
                aria-expanded="false" aria-controls="validation-{{ loop.index }}">Validation {{ loop.index }}</button>
            </h2>
            <div id="validation-{{ loop.index }}" class="accordion-collapse collapse"
              aria-labelledby="heading-{{ loop.index }}" data-bs-parent="#validationsAccordion">
              <div class="accordion-body" style="white-space: normal;">
                <div class="accordion" id="step-accordion-{{ loop.index }}">
                  {% for step_key, step_data in item_data.items()|sort %}
                    {% set inner_loop_index = loop.index %}
                    {% set step_value = step_data[0] %}
                    {% set step_passed = step_data[1] %}
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="step-heading-{{ outer_loop_index }}-{{ inner_loop_index }}">
                        <button
                          class="accordion-button collapsed {% if step_passed %}bg-success-subtle{% else %}bg-danger-subtle{% endif %}" type="button" data-bs-toggle="collapse"
                          data-bs-target="#step-panel-{{ outer_loop_index }}-{{ inner_loop_index }}"
                          aria-expanded="false"
                          aria-controls="step-panel-{{ outer_loop_index }}-{{ inner_loop_index }}">{{ step_key }}</button>
                      </h2>
                      <div id="step-panel-{{ outer_loop_index }}-{{ inner_loop_index }}"
                        class="accordion-collapse collapse"
                        aria-labelledby="step-heading-{{ outer_loop_index }}-{{ inner_loop_index }}"
                        data-bs-parent="#step-accordion-{{ outer_loop_index }}">
                        <div class="accordion-body" style="white-space: pre-wrap;">{{ step_value|safe }}</div>
                      </div>
                    </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
{% endblock custom_task_validations %}

{% block custom_ai_summary %}
<div id="AISummaryAccordion" class="mb-3 d-none">
    <div class="accordion">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button id="AISummaryAccordionButton"
                        class="accordion-button collapsed bg-danger-subtle"
                        type="button" data-bs-toggle="collapse"
                        data-bs-target="#AISummary-accordion"
                        aria-expanded="false">Verification summary by Eda
                </button>
            </h2>
            <div id="AISummary-accordion" class="accordion-collapse collapse">
                <div id="AISummaryContent" class="accordion-body"
                     style="white-space: pre-wrap;"></div>
            </div>
        </div>
    </div>
</div>
{% endblock custom_ai_summary %}

{% block executor_failed %}
<div id="executorFailed" class="mb-3 d-none">
    <div class="alert alert-warning" role="alert">
        <div>
            <h4 class="alert-heading">Unexpected error!</h4>
            <p>
                There's been an unexpected error with your task. We suggest
                restarting
                it after some time. If the issue persists, please contact our
                support
                team at:</br>
                <a href="mailto:SupportEPM-CMTRL2@epam.com">SupportEPM-CMTRL2@epam.com</a>
            </p>
        </div>
    </div>
</div>
{% endblock executor_failed %}

{% block custom_task_validation_failed %}
<div id="taskValidationsFailed" class="mb-3 d-none">
    <div class="alert alert-warning" role="alert">
        <button type="button" id="taskValidationsFailedCloseButton"
                class="btn-close float-end" aria-label="Close"></button>
        <div>
            <h4 class="alert-heading">Task verification failed!</h4>
            During task verification, an error has occurred.</br>
        </div>
        <pre id="evalErrorMessage" class="codehilite d-none"></pre>
        <div>
            You can check resources in sandbox and free to <b>Destroy
            resources</b> and attempt to retry.</br>
            If this message recurs, please contact our support team.
        </div>
    </div>
</div>
{% endblock custom_task_validation_failed %}

{% block credits_modal %}
<!-- Bootstrap modal -->
<div class="modal fade" id="validationCreditsModal" tabindex="-1" role="dialog"
     aria-labelledby="credentialsModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="credentialsModalLabel">SandBox
                    credentials</h5>
            </div>
            <div class="modal-body">
                <p>
                    Use any of the following credentials to access AWS resources
                    programmatically or from the AWS CLI. You can retrieve new
                    credentials as often as needed.
                </p>
                <hr>
                <div class="console-url">
                    <a id="validationManagementConsoleURL" href=""
                       class="btn btn-link p-0"
                       target="_blank" rel="noopener noreferrer">Management
                        console
                    </a>
                </div>
                <hr>
                <div id="copyValidationAccessKeyId"
                     class="d-flex justify-content-between">
                    <label class="left-container p-2" style="flex-basis: 45%;"
                           for="validationAccessKeyId"><b>AWS Access Key ID:</b></label>
                    <input class="individual-entry p-2" style="flex-basis: 45%;"
                           disabled="" type="text" id="validationAccessKeyId">
                    <i class="fas fa-copy ml-auto p-2" data-toggle="tooltip"
                       data-placement="top"
                       title="Copy"
                       style="cursor: pointer;"
                       onclick="copyToClipboard('validationAccessKeyId')"></i>
                </div>
                <div id="copyValidationSecretAccessKey"
                     class="d-flex justify-content-between">
                    <label class="left-container p-2" style="flex-basis: 45%;"
                           for="validationSecretAccessKey"><b>AWS Secret Access
                        Key:</b></label>
                    <input class="individual-entry p-2" style="flex-basis: 45%;"
                           disabled="" type="text"
                           id="validationSecretAccessKey">
                    <i class="fas fa-copy ml-auto p-2" data-toggle="tooltip"
                       data-placement="top"
                       title="Copy"
                       style="cursor: pointer;"
                       onclick="copyToClipboard('validationSecretAccessKey')"></i>
                </div>
                <div id="copyValidationSessionToken"
                     class="d-flex justify-content-between">
                    <label class="left-container p-2" style="flex-basis: 45%;"
                           for="validationSessionToken"><b>AWS Session
                        Token:</b></label>
                    <input class="individual-entry p-2" style="flex-basis: 45%;"
                           disabled="" type="text" id="validationSessionToken">
                    <i class="fas fa-copy ml-auto p-2" data-toggle="tooltip"
                       data-placement="top"
                       title="Copy"
                       style="cursor: pointer;"
                       onclick="copyToClipboard('validationSessionToken')"></i>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="validationCreditsModalCloseButton"
                        class="btn btn-secondary" data-dismiss="modal">Close
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Bootstrap modal -->
<div class="modal fade" id="executionCreditsModal" tabindex="-1" role="dialog"
     aria-labelledby="executionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="executionModalLabel">Sandbox
                    credentials</h5>
            </div>
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-link active" id="nav-config-syndicate-tab"
                       data-bs-toggle="tab"
                       href="#nav-generate-config"
                       role="tab" aria-controls="nav-generate-config"
                       aria-selected="true">Config Syndicate
                    </a>
                    <a class="nav-link" id="nav-update-credentials-tab"
                       data-bs-toggle="tab"
                       href="#nav-update-credentials"
                       role="tab" aria-controls="nav-update-credentials"
                       aria-selected="false">Update Credentials
                    </a>
                </div>
            </nav>
            <div class="modal-body">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active"
                         id="nav-generate-config"
                         role="tabpanel"
                         aria-labelledby="nav-config-syndicate-tab">
                        <p>The task needs Syndicate for resource deployment. To
                            configure it properly, run the <b>syndicate generate
                            config</b> command, as is shown in the sample below:</p>
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" data-bs-toggle="tab"
                                   href="#linux">macOS and Linux</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab"
                                   href="#windows">Windows</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab"
                                   href="#powershell">PowerShell</a>
                            </li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="linux">
                                <div class="position-relative">
                                    <pre class="chroma"
                                         id="syndicateGenerateLinux"
                                         data-toggle="tooltip"
                                         data-placement="top"
                                         title="Click to copy this command"
                                         style="white-space: pre-wrap;"></pre>
                                    <i class="fas fa-copy position-absolute top-0 end-0 p-2"
                                       onclick="copyToClipboard('syndicateGenerateLinux')"
                                       style="cursor: pointer;"></i>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="windows">
                                <div class="position-relative">
                                    <pre class="chroma"
                                         id="syndicateGenerateWindows"
                                         data-toggle="tooltip"
                                         data-placement="top"
                                         title="Click to copy this command"
                                         style="white-space: pre-wrap;"></pre>
                                    <i class="fas fa-copy position-absolute top-0 end-0 p-2"
                                       onclick="copyToClipboard('syndicateGenerateWindows')"
                                       style="cursor: pointer;"></i>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="powershell">
                                <div class="position-relative">
                                    <pre class="chroma"
                                         id="syndicateGeneratePowerShell"
                                         data-toggle="tooltip"
                                         data-placement="top"
                                         title="Click to copy this command"
                                         style="white-space: pre-wrap;"></pre>
                                    <i class="fas fa-copy position-absolute top-0 end-0 p-2"
                                       onclick="copyToClipboard('syndicateGeneratePowerShell')"
                                       style="cursor: pointer;"></i>
                                </div>
                            </div>
                        </div>
                        <p>The command needs the following parameters:</p>
                        <div id="copyExecutionRegion"
                             class="d-flex justify-content-between">
                            <label class="left-container p-2"
                                   style="flex-basis: 35%;"
                                   for="executionRegion"><b>--region</b></label>
                            <input class="individual-entry p-2"
                                   style="flex-basis: 65%;" disabled=""
                                   type="text" id="executionRegion">
                            <i class="fas fa-copy ml-auto p-2"
                               data-toggle="tooltip" data-placement="center"
                               title="Copy"
                               style="cursor: pointer;"
                               onclick="copyToClipboard('executionRegion')"></i>
                        </div>
                        <div id="copyExecutionBucket"
                             class="d-flex justify-content-between">
                            <label class="left-container p-2"
                                   style="flex-basis: 35%;"
                                   for="executionBucket"><b>--bundle_bucket_name</b></label>
                            <input class="individual-entry p-2"
                                   style="flex-basis: 65%;"
                                   disabled="" type="text"
                                   id="executionBucket">
                            <i class="fas fa-copy ml-auto p-2"
                               data-toggle="tooltip"
                               data-placement="top"
                               title="Copy"
                               style="cursor: pointer;"
                               onclick="copyToClipboard('executionBucket')"></i>
                        </div>
                        <div id="copyExecutionAccessKeyId"
                             class="d-flex justify-content-between">
                            <label class="left-container p-2"
                                   style="flex-basis: 35%;"
                                   for="executionAccessKeyId"><b>--access_key</b></label>
                            <input class="individual-entry p-2"
                                   style="flex-basis: 65%;"
                                   disabled="" type="text"
                                   id="executionAccessKeyId">
                            <i class="fas fa-copy ml-auto p-2"
                               data-toggle="tooltip"
                               data-placement="top"
                               title="Copy"
                               style="cursor: pointer;"
                               onclick="copyToClipboard('executionAccessKeyId')"></i>
                        </div>
                        <div id="copyExecutionSecretKey"
                             class="d-flex justify-content-between">
                            <label class="left-container p-2"
                                   style="flex-basis: 35%;"
                                   for="executionSecretKey"><b>--secret_key</b></label>
                            <input class="individual-entry p-2"
                                   style="flex-basis: 65%;"
                                   disabled="" type="text"
                                   id="executionSecretKey">
                            <i class="fas fa-copy ml-auto p-2"
                               data-toggle="tooltip"
                               data-placement="top"
                               title="Copy"
                               style="cursor: pointer;"
                               onclick="copyToClipboard('executionSecretKey')"></i>
                        </div>
                        <div id="copyExecutionSessionToken"
                             class="d-flex justify-content-between">
                            <label class="left-container p-2"
                                   style="flex-basis: 35%;"
                                   for="executionSessionToken"><b>--session_token</b></label>
                            <input class="individual-entry p-2"
                                   style="flex-basis: 65%;"
                                   disabled="" type="text"
                                   id="executionSessionToken">
                            <i class="fas fa-copy ml-auto p-2"
                               data-toggle="tooltip"
                               data-placement="top"
                               title="Copy"
                               style="cursor: pointer;"
                               onclick="copyToClipboard('executionSessionToken')"></i>
                        </div>
                        <div id="copyExecutionPrefix"
                             class="d-flex justify-content-between">
                            <label class="left-container p-2"
                                   style="flex-basis: 35%;"
                                   for="executionPrefix"><b>--prefix</b></label>
                            <input class="individual-entry p-2"
                                   style="flex-basis: 65%;"
                                   disabled="" type="text"
                                   id="executionPrefix">
                            <i class="fas fa-copy ml-auto p-2"
                               data-toggle="tooltip"
                               data-placement="top"
                               title="Copy"
                               style="cursor: pointer;"
                               onclick="copyToClipboard('executionPrefix')"></i>
                        </div>
                        <p class="mt-2">The output is:</p>
                        <pre>Syndicate initialization has been completed.
Set SDCT_CONF:
Unix: export SDCT_CONF=/Users/$user/temp/syndicate-project/.syndicate-config-personal-development-account
Windows: setx SDCT_CONF /Users/$user/temp/syndicate-project/.syndicate-config-personal-development-account</pre>
                        <p>The output provides samples of the command to set the
                            environment variable SDCT_CONF required by
                            aws-syndicate to operate. Copy and execute one of
                            them, based on your OS.</p>
                        <hr>
                        <h4>Using Syndicate Effectively</h4>
                        <p>Once everything has been correctly set up, you as a
                            student can leverage the capabilities of Syndicate
                            for the deployment of various resources. <a
                                    href="https://github.com/epam/aws-syndicate/wiki/6.-Available-Framework-Commands" target="_blank">Available
                                commands</a>.</p>
                        <h4>Resource Management and Cost Efficiency</h4>
                        <p>It is important to remember that once you've
                            completed your tasks, you should clean up the
                            deployed resources. This practice not only ensures a
                            tidy workspace but also prevents any unnecessary
                            costs being incurred for resources left running on
                            AWS. Find the respective command in the "Cleaning a
                            bundle" block below.</p>
                        <h4>Sandbox Account Auto-Cleaner</h4>
                        <p>On your student sandbox account, we have an
                            autocleaner feature in place. This automatic
                            function cleans up resources that are older than two
                            and a half hours.</p>
                        <hr>
                        <p><h4>Cleaning a Bundle</h4></p>
                        <p>To clean all the deployed lambdas and resources,
                            execute (bundle name to clean will be resolved):</p>
                        <div class="position-relative">
                            <pre class="chroma" id="syndicateCleanCommand"
                                 data-toggle="tooltip" data-placement="top"
                                 title="Click to copy this command"
                                 style="white-space: pre-wrap;">syndicate clean</pre>
                            <i class="fas fa-copy position-absolute top-0 end-0 p-2"
                               onclick="copyToClipboard('syndicateCleanCommand')"
                               style="cursor: pointer;"></i>
                        </div>
                        <p>You should see a message like:</p>
                        <pre>AWS resources were removed.</pre>
                    </div>
                    <div class="tab-pane fade" id="nav-update-credentials"
                         role="tabpanel"
                         aria-labelledby="nav-update-credentials-tab">
                        <p>To update credentials, change the following
                            parameters in your `syndicate.yml` file.</p>
                        <div class="position-relative">
                            <pre class="chroma" id="syndicateUpdateCredentials"
                                 style="white-space: pre-wrap;"></pre>
                            <i class="fas fa-copy position-absolute top-0 end-0 p-2"
                               onclick="copyToClipboard('syndicateUpdateCredentials')"
                               style="cursor: pointer;"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="executionCreditsModalCloseButton"
                        class="btn btn-secondary" data-dismiss="modal">Close
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock credits_modal %}

{% block destroy_to_proceed %}
<div id="destroyToProceedNotification" class="mb-3 d-none">
    <div class="d-flex alert alert-info d-flex justify-content-between">
        <div class="col-lg-7 align-self-center p-2">
            <h4>Task successfully completed!</h4>
            <p>Take your time to view deployed resources. To <strong>finish the
                task</strong> you should click "Destroy resources" button in
                that
                block or above.</p>
        </div>
        <div class="col-lg-2 d-flex align-items-center justify-content-center ml-auto p-2">
            <button id="destroyResourcesNotificationButton" type="submit"
                    class="btn btn-outline-primary">
            <span class="spinner-border-sm" role="status"
                  aria-hidden="true"></span>
                <span>Destroy resources</span>
            </button>
        </div>
    </div>
</div>
{% endblock destroy_to_proceed %}

{% block destroyment_loader %}
<div id="destroymentLoader" class="mb-3 d-none">
    <p class="lead text-muted">Please, wait while the resources are <b>being
        destroyed</b>. You will get a confirmation, it could take several
        minutes...
    </p>
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>
{% endblock destroyment_loader %}

{% block feedback %}
<div id="taskFeedback" class="mb-3 d-none">
    <h2 class="mb-2">Feedback</h2>
    <form>
        <fieldset {% if not enable_feedback %} disabled{% endif %}>
            <div class="mb-2">
                <div class="mb-3">Your task has been successfully completed. You
                    are now able to commence a new task. We welcome any feedback
                    regarding your experience. Please submit your feedback or
                    simply click the "Submit feedback" button to restart the
                    task.
                </div>
                <label for="feedbackScoreInput" class="form-label">Feedback
                    score</label>
                <select class="form-select" id="feedbackScoreInput">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option selected value="5">5</option>
                </select>
            </div>
            <div class="mb-2">
                <label for="feedbackCommentInput"
                       class="form-label">Comment:</label>
                <textarea class="form-control" rows="2"
                          id="feedbackCommentInput"></textarea>
            </div>
            <button id="submitFeedbackButton" type="submit"
                    class="btn btn-outline-success mb-3">Submit feedback
            </button>
        </fieldset>
        <div id="feedbackThank" class="mb-3 d-none">Thank you for your feedback!
            Your task is marked as completed.
        </div>
    </form>
</div>
{% endblock feedback %}

{% block restart_task %}
<div id="restartTask" class="mb-3 d-none">
    <hr class="mt-4">
    <!-- Modal -->
    <div class="modal fade" id="restartTaskModal" tabindex="-1"
         aria-labelledby="restartTaskModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
             style="position: absolute; bottom: 0; left: 0; right: 0; margin: auto;">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="restartTaskModalLabel">
                        Restart Task Confirmation</h1>
                    <button type="button" class="btn-close"
                            data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">You are about to restart your task.
                    Please note:
                    <ol>
                        <li><b>Resource Reset:</b> Pay attention that task
                            resource naming could be changed.
                        </li>
                        <li><b>New Attempt:</b> After restart "Verify" button
                            click will start a new task attempt.
                        </li>
                        <li><b>Score: </b> Your current score will be saved till
                            the new task attempt start and updated after start.
                        </li>
                    </ol>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                            data-bs-dismiss="modal">Cancel
                    </button>
                    <button id="restartTaskButton" type="button"
                            class="btn btn-primary"
                            data-bs-dismiss="modal">Submit
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center">
        <button id="showModalButton" class="mb-3 btn btn-warning w-25"
                data-bs-toggle="modal"
                data-bs-target="#restartTaskModal">Restart the task
        </button>
    </div>
</div>
{% endblock restart_task %}

{% block custom_script %}
<script>
    window.dynamicData = {{ dynamic_input_params | default('undefined') | safe }};
</script>
<script src="../static/js/mocks.js"></script>
<script src="../static/js/helpers.js"></script>
<script src="../static/js/stm.js"></script>

{% endblock custom_script %}